In [1]:
# Chi-Square Test-
# The test is applied when you have two categorical variable from a single
# population.it is used to determine whether there is a significant association
# between two variables

In [2]:
import scipy.stats as stats

In [3]:
import seaborn as sns
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("Suicides_in_India.csv")
df.head()

,index,State,Year,Type_code,Type,Gender,Age_group,Total
0,0,A & N ISLANDS,2001,Causes,Cancer,Male,15-29,0
1,1,A & N ISLANDS,2001,Causes,Divorce,Male,60+,0
2,2,A & N ISLANDS,2001,Causes,Dowry Dispute,Female,60+,0
3,3,A & N ISLANDS,2001,Causes,Ideological Causes/Hero Worshipping,Female,60+,0
4,4,A & N ISLANDS,2001,Causes,Illness (Aids/STD),Female,0-14,0

In [5]:
#crosstab is used to make the marix/table in 2x2 matrix array
dp_table = pd.crosstab(df['Type'],df['Gender'])
print(dp_table)

Gender                                          Female  Male
Type
Bankruptcy or Sudden change in Economic           1925  1925
Bankruptcy or Sudden change in Economic Status     175   175
By Consuming Insecticides                         2100  2100
By Consuming Other Poison                         2100  2100
By Drowning                                       2100  2100
...                                                ...   ...
Student                                           2100  2100
Suspected/Illicit Relation                        2100  2100
Unemployed                                        2100  2100
Unemployment                                      2100  2100
Widowed/Widower                                    456   456

[69 rows x 2 columns]

In [6]:
#observed values
#to show the array of values
# dp_table.values
Observed_values = dp_table.values
print("Observed Values :-\n",Observed_values)

Observed Values :-
 [[1925 1925]
 [ 175  175]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [ 175  175]
 [1925 1925]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [ 456  456]
 [2100 2100]
 [ 456  456]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [ 456  456]
 [2100 2100]
 [ 456  456]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [ 456  456]
 [ 456  456]
 [ 456  456]
 [ 456  456]
 [ 456  456]
 [ 175  175]
 [1925 1925]
 [2100 2100]
 [2100 2100]
 [3512 3751]
 [2100 2100]
 [2100 2100]
 [ 456  456]
 [2100 2100]
 [ 456  456]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [ 456  456]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [2100 2100]
 [ 456  456]]

In [7]:
#computes chi square statistics and p value of the data
val=stats.chi2_contingency(dp_table)

In [8]:
#here the expected_frq should be the expected value of each array row
val

Chi2ContingencyResult(statistic=7.624173963122206, pvalue=1.0, dof=68, expected_freq=array([[1923.06299707, 1926.93700293],
       [ 174.82390882,  175.17609118],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [ 174.82390882,  175.17609118],
       [1923.06299707, 1926.93700293],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [ 455.54115671,  456.45884329],
       [2097.88690589, 2102.11309411],
       [ 455.54115671,  456.45884329],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [ 455.54115671,  456.45884329],
       [2097.88690589, 2102.11309411],
       [ 455.54115671,  456.45884329],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [ 455.54115671,  456.45884329],
       [ 455.54115671,  456.45884329],
       [ 455.54115671,  456.45884329],
       [ 455.54115671,  456.45884329],
       [ 455.54115671,  456.45884329],
       [ 174.82390882,  175.17609118],
       [1923.06299707, 1926.93700293],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [3627.84585654, 3635.15414346],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [ 455.54115671,  456.45884329],
       [2097.88690589, 2102.11309411],
       [ 455.54115671,  456.45884329],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [ 455.54115671,  456.45884329],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [2097.88690589, 2102.11309411],
       [ 455.54115671,  456.45884329]]))

In [9]:
Expected_values = val[3]

In [10]:
no_of_rows=len(dp_table.iloc[0:69,0])
no_of_columns=len(dp_table.iloc[0,0:2])
ddof=(no_of_rows-1)*(no_of_columns-1)
print("Degree of Freedom:-",ddof)
alpha = 0.05

Degree of Freedom:- 68

In [11]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2./e for o,e in zip(Observed_values,Expected_values)])
chi_square_statistic = sum(chi_square)

# Degrees of freedom for a Chi-square test of independence
# For a 2x69 contingency table, degrees of freedom = (2 - 1) * (69 - 1) = 68
degrees_of_freedom = 68

# Calculate the p-value using the Chi-square distribution
p_value = 1 - chi2.cdf(chi_square_statistic, degrees_of_freedom)

In [12]:
print("chi-square statistic:-",chi_square_statistic)

chi-square statistic:- 7.624173963122204

In [13]:
critical_value=chi2.ppf(q=1-alpha,df=ddof)
print('critical_value:',critical_value)

critical_value: 88.25016442187412

In [14]:
#p-value
p_value=1-chi2.cdf(x=chi_square_statistic,df=ddof)
print('p-value:',p_value)
print('Significance level: ',alpha)
print('Degree of Freedom: ',ddof)
print('p-value:',p_value)

p-value: 1.0
Significance level:  0.05
Degree of Freedom:  68
p-value: 1.0

In [15]:
#ALTERNATE METHOD TO FIND THE ABOVE VALUES:
# Calculate Chi-square statistic
# chi_square_statistic = np.sum(((Observed_values - Expected_values) ** 2) / Expected_values)

# # Degrees of freedom
# degrees_of_freedom = (Observed_values.shape[0] - 1) * (Observed_values.shape[1] - 1)

# # Calculate p-value
# p_value = 1 - chi2.cdf(x=chi_square_statistic, df=degrees_of_freedom)

# # Significance level
# alpha = 0.05

# # Print results
# print('Chi-square statistic:', chi_square_statistic)
# print('Degrees of freedom:', degrees_of_freedom)
# print('p-value:', p_value)
# print('Significance level:', alpha)

In [16]:
if chi_square_statistic>=critical_value:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")

if p_value<=alpha:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")

Retain H0,There is no relationship between 2 categorical variables
Retain H0,There is no relationship between 2 categorical variables

In [17]:
# Based on the provided observed and expected values, as well as the Chi-square
# test results, it appears that the p-value is very high (close to 1.0). A 
# p-value close to 1.0 indicates that there is no evidence to reject the 
# null hypothesis. Therefore, we retain the null hypothesis, which states 
# that there is no relationship between the two categorical variables.

# In conclusion, based on the high p-value, we retain the null hypothesis,
# suggesting that there is no significant relationship between the two 
# categorical variables.